.flows.json.backup
[{"id":"c2ea26add5602059","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b4f74c9eaa32008d","type":"configuration","api":"https://qa.i4connected.cloud/api","identity":"https://qa.i4connected.cloud/identity"},{"id":"fa0ce3552d5a452f","type":"write","z":"c2ea26add5602059","server":"b4f74c9eaa32008d","name":"","x":410,"y":280,"wires":[]},{"id":"df0d1a038c2d0c88","type":"signals","z":"c2ea26add5602059","server":"b4f74c9eaa32008d","signals":[{"name":"*"}],"name":"","x":420,"y":140,"wires":[["98e7a8777a0058cf"]]},{"id":"269cabbfaae937d9","type":"inject","z":"c2ea26add5602059","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"88561f3f-8348-40d9-9952-09a1cd15ffe9","payload":"subscribe","payloadType":"str","x":160,"y":100,"wires":[["df0d1a038c2d0c88"]]},{"id":"72a24b7c07653334","type":"inject","z":"c2ea26add5602059","name":"Value 1","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"88561f3f-8348-40d9-9952-09a1cd15ffe9","payload":"{\"value\":1}","payloadType":"json","x":150,"y":260,"wires":[["fa0ce3552d5a452f"]]},{"id":"4dce58ff562f7d99","type":"inject","z":"c2ea26add5602059","name":"Value 2","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"88561f3f-8348-40d9-9952-09a1cd15ffe9","payload":"{\"value\":2}","payloadType":"json","x":150,"y":320,"wires":[["fa0ce3552d5a452f"]]},{"id":"98e7a8777a0058cf","type":"debug","z":"c2ea26add5602059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"9d1cfbb92e508b5c","type":"inject","z":"c2ea26add5602059","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"88561f3f-8348-40d9-9952-09a1cd15ffe9","payload":"unsubscribe","payloadType":"str","x":170,"y":160,"wires":[["df0d1a038c2d0c88"]]}]