flows.json
[{"id":"c2ea26add5602059","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b4f74c9eaa32008d","type":"configuration","api":"https://qa.i4connected.cloud/api","identity":"https://qa.i4connected.cloud/identity"},{"id":"11e36111658c962c","type":"mqtt-broker","name":"","broker":"BROKER.HIVEMQ.COM","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"df0d1a038c2d0c88","type":"signals","z":"c2ea26add5602059","server":"b4f74c9eaa32008d","signals":[{"name":"*"}],"name":"","x":600,"y":200,"wires":[["98e7a8777a0058cf"]]},{"id":"72a24b7c07653334","type":"inject","z":"c2ea26add5602059","name":"Light (on/off) - 1","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"e8ea4092-1d6c-47da-bd0b-7ab217852ca1","payload":"{\"value\":1}","payloadType":"json","x":220,"y":420,"wires":[["dab33804e8d7df28"]]},{"id":"4dce58ff562f7d99","type":"inject","z":"c2ea26add5602059","name":"Light (on/off) - 0","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"e8ea4092-1d6c-47da-bd0b-7ab217852ca1","payload":"{\"value\":0}","payloadType":"json","x":220,"y":460,"wires":[["dab33804e8d7df28"]]},{"id":"98e7a8777a0058cf","type":"debug","z":"c2ea26add5602059","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"9d1cfbb92e508b5c","type":"inject","z":"c2ea26add5602059","name":"Temperature - unsubscribe","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"88561f3f-8348-40d9-9952-09a1cd15ffe9","payload":"unsubscribe","payloadType":"str","x":230,"y":220,"wires":[["df0d1a038c2d0c88"]]},{"id":"269cabbfaae937d9","type":"inject","z":"c2ea26add5602059","name":"Temperature - subscribe","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"72ebf6d3-9bf0-40cf-bacf-7a7c6e18066a","payload":"subscribe","payloadType":"str","x":230,"y":180,"wires":[["df0d1a038c2d0c88"]]},{"id":"1f7e7eabc123bc4d","type":"inject","z":"c2ea26add5602059","name":"Light (on/off) - subscribe","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"e8ea4092-1d6c-47da-bd0b-7ab217852ca1","payload":"subscribe","payloadType":"str","x":230,"y":80,"wires":[["df0d1a038c2d0c88"]]},{"id":"dab33804e8d7df28","type":"write","z":"c2ea26add5602059","server":"b4f74c9eaa32008d","name":"","x":450,"y":480,"wires":[]},{"id":"f55ed8b27a35cc8a","type":"inject","z":"c2ea26add5602059","name":"Temperature  - 20","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"72ebf6d3-9bf0-40cf-bacf-7a7c6e18066a","payload":"{\"value\":20}","payloadType":"json","x":220,"y":520,"wires":[["dab33804e8d7df28"]]},{"id":"c352a75b5030abe2","type":"inject","z":"c2ea26add5602059","name":"Temperature  - 22","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"72ebf6d3-9bf0-40cf-bacf-7a7c6e18066a","payload":"{\"value\":22}","payloadType":"json","x":220,"y":560,"wires":[["dab33804e8d7df28"]]},{"id":"857452f993d2eab3","type":"inject","z":"c2ea26add5602059","name":"Light (on/off) - unsubscribe","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"e8ea4092-1d6c-47da-bd0b-7ab217852ca1","payload":"unsubscribe","payloadType":"str","x":240,"y":120,"wires":[["df0d1a038c2d0c88"]]},{"id":"48e14c2289254877","type":"inject","z":"c2ea26add5602059","name":"Temperature outdoor - unsubscribe","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"a17a2081-3fd7-4307-ac49-f2012e679f85","payload":"unsubscribe","payloadType":"str","x":260,"y":320,"wires":[["df0d1a038c2d0c88"]]},{"id":"2b908b8b19588744","type":"inject","z":"c2ea26add5602059","name":"Temperature outdoor - subscribe","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"a17a2081-3fd7-4307-ac49-f2012e679f85","payload":"subscribe","payloadType":"str","x":250,"y":280,"wires":[["df0d1a038c2d0c88"]]},{"id":"2ffd5a01f63a1fbe","type":"mqtt in","z":"c2ea26add5602059","name":"","topic":"BCDS/#","qos":"2","datatype":"json","broker":"11e36111658c962c","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":620,"wires":[["0a95387f9e15d6c8"]]},{"id":"0a95387f9e15d6c8","type":"function","z":"c2ea26add5602059","name":"","func":" if(msg.payload.sn == \"20:19:AB:F4:04:51\"){\n    msg.payload= {\n    timestamp: new Date(msg.payload.time * 1000).toISOString(),\n    value: msg.payload.data.temp.value / 10000\n};\nmsg.topic= \"a17a2081-3fd7-4307-ac49-f2012e679f85\";\nreturn msg;  \n }\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":620,"wires":[["dab33804e8d7df28"]]}]